@import "compass/css3/transition";

html, body {
    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    background: #FFf;
    -webkit-font-smoothing: antialiased;
}
body a {
    @include transition(0.5s all);
}

.container {
    width: 70%;
}

.hr-line {
    width: 15%;
    height: 1px;
    background: #35C2F8;
    display: inline-block;
}

#index-splash {
    background: url(/assets/img/index-splash.jpg) no-repeat 0px 0px;
    background-size: cover;

    .content {
        padding: 10em 0 12em;
        color: #fff;
    }

    h1 {
        font-weight: 700;
        font-size: 3.5em;
        color: #FFF;
        text-transform: uppercase;
        width: 70%;
        display: inline-block;
        line-height: 1.3em;
    }

    p {
        color: #CCCCCC;
        font-weight: 400;
        font-size: 1.3em;
        line-height: 1.7em;
        font-family: 'Open Sans', sans-serif;
        margin: 1em auto;
        width: 50%;
    }
}

#header {
    padding: 2em 0;
}

.navbar {

    font-size: 0.9em;
    font-weight: 300;
    text-transform: uppercase;

    li {
        display: inline-block;
        height: 30px;
        line-height: 30px;
        padding: 0 1.5em;
    }

    a {
        color: #fff;
        display: block;
        text-decoration: none;

        &:hover {
            color: #f00;
        }
    }
}